<div class="container">
  <div class="row">
    <input
      type="text"
      placeholder=" search..."
      (keyup)="search()"
      [(ngModel)]="query"
      class="input"
    />
  </div>
  <div class="row">
    <button class="btn btn-light btn-block" (click)="btnClick()">
      <span>Add <mat-icon>add_circle_outline</mat-icon></span>
    </button>
  </div>
  <div class="row">
    <div class="column">
      <mat-selection-list>
        <h3>Recent Contacts</h3>
        <mat-list-option
          *ngFor="let contact of filteredRecentContacts; let x = index"
        >
          <div class="row">
            <div style="width: 10%; float: left;" class="column">
              &nbsp;
            </div>
            <div class="column" style="width: 20%; float: left;">
              <span
                matBadge="&nbsp;{{
                  contact.firstName | slice: 0:1 | uppercase
                }}{{ contact.lastName | slice: 0:1 | uppercase }}&nbsp;"
                matBadgeSize="miduam"
                matBadgeOverlap="false"
                >&nbsp;</span
              >
            </div>
            <div class="column" style="width: 70%; float: left;">
              <div class="row">
                <span>{{ contact.firstName }} {{ contact.lastName }}</span>
              </div>
              <div class="row email">{{ contact.email }}</div>
            </div>
          </div>
          <hr />
        </mat-list-option>
      </mat-selection-list>
      <div class="divider">&nbsp;</div>
      <mat-selection-list>
        <mat-list-option
          *ngFor="let contact of filteredContacts; let i = index"
        >
          <div class="row" id="{{ i }}">
            <div
              style="width: 10%; float: left; font-weight: bold;"
              class="column"
              *ngIf="
                i == 0 ||
                  filteredContacts[i - 1].firstName
                    .substr(0, 1)
                    .toLowerCase() !=
                    contact.firstName.substr(0, 1).toLowerCase();
                else elseBlock
              "
            >
              {{ contact.firstName | slice: 0:1 | uppercase }}
            </div>
            <ng-template #elseBlock>
              <div style="width: 10%; float: left;" class="column">
                &nbsp;
              </div></ng-template
            >
            <div class="column" style="width: 20%; float: left;">
              <span
                #i
                matBadge="&nbsp;{{
                  contact.firstName | slice: 0:1 | uppercase
                }}{{ contact.lastName | slice: 0:1 | uppercase }}&nbsp;"
                matBadgeSize="miduam"
                matBadgeOverlap="false"
                >&nbsp;</span
              >
            </div>
            <div class="column" style="width: 70%; float: left;">
              <div class="row">
                <span>{{ contact.firstName }} {{ contact.lastName }}</span>
              </div>
              <div class="row email">{{ contact.email }}</div>
            </div>
          </div>
          <hr />
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="column">
      <mat-list dense>
        <mat-list-item
          *ngFor="let letter of alphaMap"
          (click)="scrollToElement(letter.alphaIndex)"
        >
          <span #letter.alphaIndex style="cursor: pointer;">
            {{ letter.alpha }}
          </span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
