<div class="container">
  <a (click)="scrollToElement(target)">A</a>

  <div class="row">
    <input
      type="text"
      placeholder=" search..."
      (keyup)="search()"
      [(ngModel)]="query"
      class="input"
    />
  </div>
  <div class="row">
    <button class="btn btn-light btn-block" (click)="btnClick()">
      <span>Add <mat-icon>add_circle_outline</mat-icon></span>
    </button>
  </div>
  <mat-selection-list>
    <h3>Latest Contacts</h3>
    <mat-list-option *ngFor="let contact of filteredRecentContacts">
      <div class="row">
        <div class="column" style="width: 20%; float: left;">
          <span
            matBadge="&nbsp;{{ contact.firstName | slice: 0:1 | uppercase }}{{
              contact.lastName | slice: 0:1 | uppercase
            }}&nbsp;"
            matBadgeSize="miduam"
            matBadgeOverlap="false"
            >&nbsp;</span
          >
        </div>
        <div class="column" style="width: 80%; float: left;">
          <div class="row">
            <span>{{ contact.firstName }} {{ contact.lastName }}</span>
          </div>
          <div class="row email">{{ contact.email }}</div>
        </div>
      </div>
      <hr />
    </mat-list-option>
  </mat-selection-list>
  <div class="divider">&nbsp;</div>
  <mat-selection-list>
    <mat-list-option *ngFor="let contact of filteredContacts">
      <div class="row">
        <div class="column" style="width: 20%; float: left;">
          <span
            matBadge="&nbsp;{{ contact.firstName | slice: 0:1 | uppercase }}{{
              contact.lastName | slice: 0:1 | uppercase
            }}&nbsp;"
            matBadgeSize="miduam"
            matBadgeOverlap="false"
            >&nbsp;</span
          >
        </div>
        <div class="column" style="width: 80%; float: left;">
          <div class="row">
            <span>{{ contact.firstName }} {{ contact.lastName }}</span>
          </div>
          <div class="row email">{{ contact.email }}</div>
        </div>
      </div>
      <hr />
    </mat-list-option>
  </mat-selection-list>
  <div #target>Your target</div>
</div>
