<div class="container">
  <div class="row">
    <br />
    <br />
    <h2><br />Add New Contact</h2>
    <hr />
  </div>
  <div class="example-container">
    <form #entryForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input
          class="form-control"
          matInput
          placeholder="First Name"
          value=""
          [(ngModel)]="model.firstName"
          name="firstName"
        />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input
          class="form-control"
          matInput
          placeholder="Last Name"
          value=""
          [(ngModel)]="model.lastName"
          name="lastName"
        /> </mat-form-field
      ><br />
      <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input
          class="form-control"
          type="number"
          matInput
          placeholder="Number"
          value=""
          [(ngModel)]="model.mobileNumber"
          name="mobileNumber"
        /> </mat-form-field
      ><br />
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          class="form-control"
          matInput
          [(ngModel)]="model.email"
          placeholder="Ex. pat@example.com"
          name="email"
        /> </mat-form-field
      ><br />
      <div class="example-full-width">
        <button class="btn btn-primary" (click)="save()">
          Save
        </button>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <button class="btn btn-secondary" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
